
body * {
   font-family: 'Syne', sans-serif;
}


/* header */

#site-header{
    position: absolute;
    width: 1440px;
    height: 80px;

}

li.menu-item a {

    color: #313332 !important;
 
  
    text-align: center;
    font-weight: 700;
    font-size: 16px;
  
    display: flex;
  
    align-items: center;
    color: #000000;
height: 19px;


   
  
  
}

li.menu-item a:hover,
li.menu-item.current-menu-item a {

    color: #ffffff !important;
   background-color: #dc9f96;

   height: 80px;
 
 
  
  
 
  


   
  
 
}



/* footer */

#site-footer {
    padding: 20px;
    text-align: center;
    color: #000000;
    background-color: #ffffff !important;
 }