body * {
    font-family: 'Syne', sans-serif;

}



/* logo */

.menu-logo {

    width: 192px;
    height: 19px;
    display: flex;
    float: left;
    padding-top: 26px;

}


/* header */

.nav-links {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    text-decoration: none;
   color: #000000;
    column-gap: 100px;
    padding-top: 30px;
    padding-right: 60px;

}


.nav-links a:hover {

    color: #ffffff !important;
    background-color: #dc9f96;
    display: block;
    width: 236px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    transition: all 0.15s linear;

}

a {
    text-decoration: none;
    
}



/* border bottom style */

.elementor-45 .elementor-element.elementor-element-e02bf7d:not(.elementor-motion-effects-element-type-background),
.elementor-45 .elementor-element.elementor-element-e02bf7d>.elementor-motion-effects-container>.elementor-motion-effects-layer {

    border-bottom: 8px solid #c6c3c1;
    border-bottom-left-radius: 50% 9%;
    border-bottom-right-radius: 50% 9%;
}

.elementor-45 .elementor-element.elementor-element-6acdd11:not(.elementor-motion-effects-element-type-background),
.elementor-45 .elementor-element.elementor-element-6acdd11>.elementor-motion-effects-container>.elementor-motion-effects-layer {


    border-bottom-left-radius: 50% 9%;
    border-bottom-right-radius: 50% 9%;
}

/* bordure style page rencontrer */

.elementor-50 .elementor-element.elementor-element-187574f:not(.elementor-motion-effects-element-type-background) {

   
    border-bottom-left-radius: 60% 9%;
    border-bottom-right-radius: 60% 9%;
}

/* ce qu'ils en pensent */

.elementor-45 .elementor-element.elementor-element-e9b06a9:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-45 .elementor-element.elementor-element-e9b06a9>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;

}

/* formulaire page nous rencontrer */

.wpcf7-textarea {

    height: 237px;
    line-height: 1.5;
    width: 100%;
    font-family: 'syne';
    font-size: 16px;
    font-weight: 700;
    border-radius: 7px;

}

.wpcf7 input[type="email"]{

   height: 71px;
   border-radius: 7px;
}


/* formulaire de commande */

.form-group {

    display: flex;
    flex-direction: row;
    column-gap: 50px;
    justify-content: center;
    color: #ffffff;
    border-radius: 17px;
    gap: 50px;
    font-family: 'syne';
    font-size: 16px;
    font-weight: 700;
}

h2 {

    font-weight: 700;
    font-size: 30px;
}

.border-middle {

    border: 1px solid #fff;
    margin-top: 70px;
    margin-bottom: 113px;

}


input[type="text"] {

    width: 520px;
    border-radius: 7px;
    margin-top: 15px;
    height: 71px;
   
}

input[type="submit"]{

  
    width: 198px;
    height: 55px;
    margin-left: -150px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'syne';
    margin-top: 25px;
   
}

label {
    display: block;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 0.5rem 0;
    font-family: 'syne';
    line-height: 40px;
}

/* footer */

#site-footer {
    padding: 20px;
    text-align: center;
    color: #000000;
    background-color: #ffffff !important;
  
}
