/* CSS POUR LE SHORTCODE .image-titre */
.banniere-titre{
    width: 393px;
    height: 262px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
}
.banniere-titre:before{
    content: "";
    position: absolute;
    z-index: 1;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    
}
.banniere-titre .titre{
   position: relative;
    z-index: 2;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
}